.head {
  background-color: #007D6F;
  color: white;

  clip-path: polygon(0 0, 100% 0, 100% 76%, 0 100%);
  padding: 20px 100px 100px 20px;

  font-size: 24px;
  font-weight: bolder;
  text-transform: uppercase;

  text-align: left;
}